/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body {
    height: 1024px;
}


/* Header */

header {
    /* position: relative; */
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 999;
}

.descuentos {
    /* position: relative;*/
    height: 38px;
    left: 0px;
    top: -3px;
    border-radius: 0px;
    background-color: #1CD1B0;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding-top: 10px;
    padding-left: 8px;
}

header h1 {
    height: 101px;
    left: 0px;
    background: #00669F;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    padding-top: 25px;
    padding-left: 20px;
}


/* Main */

.contenedor {
    position: relative;
    width: 960px;
    height: 530px;
    margin-right: 341px;
    margin-left: 341px;
}


/* Para las 3 tarjetas */

.tarjeta {
    position: absolute;
    border-radius: 8px;
    width: 300px;
    height: 530px;
    padding-top: 154px;
    display: inline-block;
}

.fondo {
    position: absolute;
    height: 193px;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}

.fondo i {
    color: #CC2424;
    width: 300px;
    height: 50px;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 21px;
}


/* Para el divisor con el corazón según cada tarjeta */

.f_bat {
    background-image: url('../img/fondoBatman.jpg');
    position: absolute;
    z-index: 3;
}

.f_har {
    background-image: url('../img/fondoHarley.jpg');
    position: absolute;
    z-index: 3;
}


/* .bat1 {
    
} */

.harley {
    left: 330px;
}

.bat2 {
    left: 660px;
}

.perfil img {
    position: relative;
    left: calc(50% - 60px);
    bottom: calc(50% - 59px);
    border-radius: 50%;
    z-index: 5;
}

.perfil {
    position: relative;
    top: 135px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 90px;
}

.perfil h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.perfil p {
    height: 110px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}

.verMas {
    position: relative;
    top: 70px;
    left: 29%;
    text-align: center;
    background-color: #00669F;
    color: #FFF9F9;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 128px;
    margin: 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}


/* Footer */

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 973px;
    width: 100%;
    height: 51px;
    background-color: #00669F;
    /*   border-radius: 4px; */
    box-shadow: 0px 4px 4px 0px #00000040;
}

footer p {
    height: 19px;
    width: 350px;
    border-radius: 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF9F9;
    left: 16px;
    top: 16px;
    padding-top: 15px;
    padding-left: 8px;
}